
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fdf6f0;
}

h1 {
    color: red;
    text-align: center;
    font-size: 40px;
}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}
h2{
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', serif;
    text-align:left;
}

li{
    color: rgb(15, 16, 15);
    font-size: 20px;
    text-align: left;
}

a{
    color:rgb(67, 60, 167);
    text-align: center;
    
}

img{
    display: block;
    border-radius: 10px;
}